[package]
name = "weath3rb0i"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
fastrand = "1.7.0"

[profile.release]
debug = 1
lto = "fat"
codegen-units = 1